<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyaotong.api.standardproduct.mapper.MedicineSPUMapper">

    <resultMap id="medicineSPUType" type="com.xiaoyaotong.api.standardproduct.entity.MedicineSPU">
        <id column="s_id" jdbcType="VARCHAR" property="id" />
        <result column="spu_id" jdbcType="VARCHAR" property="spuId" />
        <result column="common_name" jdbcType="VARCHAR" property="commonName" />
        <result column="approval_code" jdbcType="VARCHAR" property="approvalCode" />
        <result column="spec" jdbcType="VARCHAR" property="spec" />
        <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
        <result column="formal_name" jdbcType="VARCHAR" property="formalName" />
        <result column="short_name" jdbcType="VARCHAR" property="shortName" />
        <result column="first_category" jdbcType="VARCHAR" property="firstCategory" />
        <result column="second_category" jdbcType="VARCHAR" property="secondCategory" />
        <result column="is_standard" jdbcType="VARCHAR" property="isStandard" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="bar_code" jdbcType="VARCHAR" property="barCode" />
        <collection property="pics" ofType="com.xiaoyaotong.api.standardproduct.entity.MedicineSPUPic" column="spu_id">
            <id property="id" column="p_id"/>
            <result property="picUrl" column="pic_url"/>
            <result property="status" column="p_status"/>
            <result column="p_create_user" jdbcType="VARCHAR" property="createUser" />
            <result column="p_create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="p_update_user" jdbcType="VARCHAR" property="updateUser" />
            <result column="p_update_time" jdbcType="TIMESTAMP" property="updateTime" />
        </collection>
    </resultMap>
    
    <sql id="basicSQL">
        select
        s._id as s_id,
        s.spu_id ,
        s.approval_code,
        s.spec,
        s.factory_name,
        s.formal_name,
        s.short_name,
        s.first_category,
        s.second_category,
        s.is_standard,
        s.status,
        s.create_time,
        s.create_user,
        s.update_time,
        s.update_user,
        s.bar_code,
        p._id as p_id,
        p.pic_url,
        p.status as p_status,
        p.create_user as p_create_user,
        p.create_time as p_create_time,
        p.update_user as p_update_user,
        p.update_time as p_update_time
        from t_medicine_spu s
        left join t_medicine_spu_pic p
        on s.spu_id = p.spu_id
    </sql>

    <select id="findMedicineSPUByID" resultMap="medicineSPUType">
        <include refid="basicSQL"/> where s.spu_id = #{spuid}
    </select>

    <select id="getSPUList" parameterType="hashmap" resultMap="medicineSPUType">
        <include refid="basicSQL"/> limit #{itemBegin},#{pageNum}
    </select>

    <select id="getAllSPUIds" resultType="java.lang.Integer">
        select spu_id from t_medicine_spu
    </select>

</mapper>