<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyaotong.api.standardproduct.mapper.MedicineSPUMapper">

    <resultMap id="medicineSPUType" type="com.xiaoyaotong.api.standardproduct.entity.MedicineSPU">
        <id column="s_id" jdbcType="VARCHAR" property="id" />
        <result column="spu_code" jdbcType="VARCHAR" property="spuCode" />
        <result column="common_name" jdbcType="VARCHAR" property="commonName" />
        <result column="approval_code" jdbcType="VARCHAR" property="approvalCode" />
        <result column="spec" jdbcType="VARCHAR" property="spec" />
        <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
        <result column="formal_name" jdbcType="VARCHAR" property="formalName" />
        <result column="short_name" jdbcType="VARCHAR" property="shortName" />
        <result column="first_category" jdbcType="VARCHAR" property="firstCategory" />
        <result column="second_category" jdbcType="VARCHAR" property="secondCategory" />
        <result column="is_standard" jdbcType="VARCHAR" property="isStandard" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="bar_code" jdbcType="VARCHAR" property="barCode" />
        <collection property="pics" ofType="com.xiaoyaotong.api.standardproduct.entity.MedicineSPUPic" column="spu_id">
            <id property="id" column="p_id"/>
            <result property="picUrl" column="pic_url"/>
            <result property="status" column="p_status"/>
            <result column="p_create_user" jdbcType="VARCHAR" property="createUser" />
            <result column="p_create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="p_update_user" jdbcType="VARCHAR" property="updateUser" />
            <result column="p_update_time" jdbcType="TIMESTAMP" property="updateTime" />
        </collection>
    </resultMap>
    
    <sql id="basicSQL">
        select
        s.id as s_id,
        s.spu_code ,
        s.approval_code,
        s.spec,
        s.common_name,
        s.factory_name,
        s.formal_name,
        s.short_name,
        s.first_category,
        s.second_category,
        s.is_standard,
        s.status,
        s.create_time,
        s.create_user,
        s.update_time,
        s.update_user,
        s.bar_code,
        p.id as p_id,
        p.pic_url,
        p.status as p_status,
        p.create_user as p_create_user,
        p.create_time as p_create_time,
        p.update_user as p_update_user,
        p.update_time as p_update_time
        from t_medicine_spu s
        left join t_medicine_spu_pic p
        on s.spu_code = p.spu_code
    </sql>

    <select id="findMedicineBySpuCode" resultMap="medicineSPUType">
        <include refid="basicSQL"/> where s.spu_code = #{spuCode}
    </select>

    <select id="getSPUList" parameterType="hashmap" resultMap="medicineSPUType">
        <include refid="basicSQL"/> order by s.id asc limit #{itemBegin},#{pageNum}
    </select>

    <select id="getSpusByminumumId" resultMap="medicineSPUType">
        <include refid="basicSQL"/> where s.id > #{minumumId}
        order by s.id asc
        limit #{pageSize}
    </select>

    <select id="getAllSPUCodes" resultType="java.lang.String">
        select spu_code from t_medicine_spu
    </select>


    <select id="getSpuByKeyParameters" resultMap="medicineSPUType">
        <include refid="basicSQL"/> where 1=1
        <if test="commonName != null and commonName!=''">
            and s.common_name=#{commonName}
        </if>
        <if test="approvalCode != null and approvalCode!=''">
            and s.approval_code=#{approvalCode}
        </if>
        <if test="barCode != null and barCode != '' ">
            and s.bar_code=#{barCode}
        </if>
        <if test="spuCode != null and spuCode != '' ">
            and s.spu_code=#{spuCode}
        </if>
        limit 10
    </select>

    <select id="getChangedSPUCount" resultType="Integer">
        select count(*) from t_medicine_spu t where t.update_time > #{beginTime,jdbcType=TIMESTAMP}
    </select>


    <select id="getChangedSPU" resultMap="medicineSPUType">
        <include refid="basicSQL"/> where s.update_time  > #{beginTime}
        order by s.id asc
        limit #{beginPage},#{pageSize}
    </select>


    <insert id="insertMedicineSPU">
        insert into t_medicine_spu(id,spu_code,common_name,approval_code,spec,factory_name,
        formal_name,short_name,first_category,second_category,is_standard,status,create_user,
        create_time,update_user,update_time,bar_code)
        values (
        #{id},#{spuCode},#{commonName},#{approvalCode},#{spec},#{factoryName},#{formalName},
        #{shortName},#{firstCategory},#{secondCategory},#{isStandard},#{status},#{createUser},
        #{createTime},#{updateUser},#{updateTime},#{barCode}
        )
    </insert>

    <update id="updateMedicineSPU">
        update t_medicine_spu set
        common_name = #{commonName},
        approval_code = #{approvalCode},
        spec = #{spec},
        factory_name = #{factoryName},
        formal_name = #{formalName},
        short_name = #{shortName},
        first_category = #{firstCategory},
        second_category = #{secondCategory},
        is_standard = #{isStandard},
        status = #{status},
        create_user = #{createUser},
        create_time = #{createTime},
        update_user = #{updateUser},
        update_time = #{updateTime},
        bar_code = #{barCode}
        where id = #{id} and spu_code = #{spuCode}
    </update>

    <!--物理删除-->
    <delete id="deleteMedicineSPUBad">
        delete from t_medicine_spu
        where id=#{id} and spu_code=#{spuCode}
    </delete>

    <!--逻辑删除-->
    <update id="deleteMedicineSPU">
        update t_medicine_spu set
        status = -1
        where id=#{id} and spu_code=#{spuCode}
    </update>

</mapper>