<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyaotong.api.companyitem.mapper.CompanySkuMapper">

    <resultMap id="companySkuType" type="com.xiaoyaotong.api.companyitem.entity.CompanySku">
        <id property="id" jdbcType="INTEGER" column="_id"/>
        <result property="companyId" column="company_id" jdbcType="INTEGER"/>
        <result property="companySkuCode" column="company_skucode" jdbcType="VARCHAR"/>
        <result column="common_name" jdbcType="VARCHAR" property="commonName"/>
        <result column="approval_code" jdbcType="VARCHAR" property="approvalCode"/>
        <result column="spec" jdbcType="VARCHAR" property="spec"/>
        <result column="factory_name" jdbcType="VARCHAR" property="factoryName"/>
        <result column="bar_code" jdbcType="VARCHAR" property="barCode"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result property="spuCode" column="spu_code" jdbcType="VARCHAR"/>
        <result property="matched" column="matched" jdbcType="INTEGER"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="basicSQL">
        select
        s.id as id,
        s.company_id,
        s.company_skucode,
        s.common_name,
        s.approval_code,
        s.spec,
        s.factory_name,
        s.bar_code,
        s.status,
        s.spu_code,
        s.create_time,
        s.create_user,
        s.update_time,
        s.update_user
        from t_company_sku s
    </sql>

    <insert id="insertCompanySku">
        insert into t_company_sku(_id,company_id,company_skucode,common_name,approval_code,spec,factory_name,
        bar_code,status,standard_spu,create_user,create_time,update_user,update_time)
        values (
        #{id},#{companyId},#{companySkucode},#{commonName},#{approvalCode},#{spec},#{factoryName},#{barCode},
        #{status},#{standardSpu},#{createUser},#{createTime},#{updateUser},#{updateTime}
        )
    </insert>

    <delete id="deleteCompanySku">
        delete from t_company_sku t where t.company_id = #{companyId} and t.company_skucode = #{companySkucode}
    </delete>

    <update id="updateByCompanyIdAndskuCode">
        update t_company_sku set
        common_name=#{commonName},
        approval_code=#{approvalCode},
        spec=#{spec},
        factory_name=#{factoryName},
        spu_code = #{spuCode},
        bar_code=#{barCode}  
        where company_id = #{companyId} and company_skucode = #{companySkuCode}
    </update>

    <update id="updateSpuCodeByCompanyIdAndskuCode">
        update t_company_sku set
        standard_spu=#{spuCode},
        where company_id = #{companyId} and company_skucode = #{companySkucode}
    </update>

    <select id="selectSkuByCompanyIdAndSkuCode" resultMap="companySkuType">
        <include refid="basicSQL"/>
        where s.company_id =#{companyId} and s.company_skucode = #{companySkucode}
        <if test="matched != null and matched = 1">
            AND s.matched = 1
        </if>
        <if test="matched != null and matched = -1">
        AND s.matched = -1
        </if>
    </select>

    <select id="selectSkuByCompanyId" resultMap="companySkuType">
        <include refid="basicSQL"/>
        where s.company_id =#{companyId}
        <if test="matched != null and matched == 1">
            AND s.matched = 1
        </if>
        <if test="matched != null and matched== -1">
            AND s.matched = -1
        </if>
    </select>


    <select id="selectCompanySkuList" resultMap="companySkuType">
        select * from t_company_sku t
        limit #{itemBegin},#{itemNum}
    </select>
	
	<select id="getCompanySkuId" resultType="Integer">
        select id from t_company_sku t
        where t.company_id =#{companyId} and t.company_skucode = #{companySkucode}
    </select>

 	<update id="updateCompanySkuById">
        update t_company_sku set
        common_name=#{commonName},
        approval_code=#{approvalCode},
        spec=#{spec},
        factory_name=#{factoryName},
        bar_code=#{barCode} 
        where id = {id}
    </update>
</mapper>