<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyaotong.api.companyitem.mapper.CompanySkuMapper">

    <resultMap id="companySkuType" type="com.xiaoyaotong.api.companyitem.entity.CompanySku">
        <id property="id" jdbcType="INTEGER" column="_id"/>
        <result property="companyId" column="company_id" jdbcType="INTEGER"/>
        <result property="skuCode" column="sku_code" jdbcType="VARCHAR"/>
        <result column="common_name" jdbcType="VARCHAR" property="commonName"/>
        <result column="approval_code" jdbcType="VARCHAR" property="approvalCode"/>
        <result column="spec" jdbcType="VARCHAR" property="spec"/>
        <result column="factory_name" jdbcType="VARCHAR" property="factoryName"/>
        <result column="bar_code" jdbcType="VARCHAR" property="barCode"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result property="standardSpu" column="standard_spu" jdbcType="INTEGER"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <insert id="insertCompanySku">
        insert into t_company_sku(_id,company_id,sku_code,common_name,approval_code,spec,factory_name,
        bar_code,status,standard_spu,create_user,create_time,update_user,update_time)
        values (
        #{id},#{companyId},#{skuCode},#{commonName},#{approvalCode},#{spec},#{factoryName},#{barCode},
        #{status},#{standardSpu},#{createUser},#{createTime},#{updateUser},#{updateTime}
        )
    </insert>

    <delete id="deleteCompanySku">
        delete from t_company_sku t where t.company_id = #{companyId} and t.sku_code = #{skuCode}
    </delete>

    <update id="updateByCompanyIdAndskuCode">
        update t_company_sku set
        common_name=#{commonName},
        approval_code=#{approvalCode},
        spec=#{spec},
        factory_name=#{factoryName},
        bar_code=#{barCode}  
        where company_id = #{companyId} and sku_code = #{skuCode}
    </update>

    <select id="selectCompanySkuByid" resultMap="companySkuType">
        select * from t_company_sku t
        where t.company_id =#{companyId} and t.sku_code = #{skuCode}
    </select>

    <select id="selectCompanySkuList" resultMap="companySkuType">
        select * from t_company_sku t
        limit #{itemBegin},#{itemNum}
    </select>
	
	<select id="getCompanySkuId" resultType="Integer">
        select id from t_company_sku t
        where t.company_id =#{companyId} and t.sku_code = #{skuCode}
    </select>

 	<update id="updateCompanySkuById">
        update t_company_sku set
        common_name=#{commonName},
        approval_code=#{approvalCode},
        spec=#{spec},
        factory_name=#{factoryName},
        bar_code=#{barCode} 
        where id = {id}
    </update>
</mapper>