<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyaotong.api.platform.mapper.PlatformSkuMapper">

    <resultMap id="platformSku" type="com.xiaoyaotong.api.platform.entity.PlatformSku">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
        <result column="spu_code" jdbcType="VARCHAR" property="spuCode" />
        <result column="company_id" jdbcType="INTEGER" property="companyId" />
        <result column="company_sku_code" jdbcType="VARCHAR" property="companySkuCode" />
        <result column="company_name" jdbcType="VARCHAR" property="companyName" />
        <result column="batch_nos" jdbcType="VARCHAR" property="batchNos" />
        <result column="deadline_nos" jdbcType="VARCHAR" property="deadlineNos" />
        <result column="common_price" jdbcType="DECIMAL" property="commonPrice" />
        <result column="stocks" jdbcType="INTEGER" property="stocks" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="valid_month_start" jdbcType="INTEGER" property="validMonthStart" />
        <result column="valid_month_end" jdbcType="INTEGER" property="validMonthEnd" />

    </resultMap>
    
    <sql id="basicSQL">
        select
        s.id as id,
        s.sku_code,
        s.spu_code ,
        s.company_id,
        s.company_sku_code,
        s.company_name,
        s.batch_nos,
        s.deadline_nos,
        s.common_price,
        s.status,
        s.stocks,
        s.create_time,
        s.create_user,
        s.update_time,
        s.update_user,
        s.valid_month_start,
        s.valid_month_end
        from t_platform_sku s
    </sql>

    <select id="getPlatformBySkuCode" resultMap="platformSku">
        <include refid="basicSQL"/> where s.sku_code = #{skuCode}
    </select>

    <select id="getPlatformSkuBycompanySkuCode" resultMap="platformSku">
        <include refid="basicSQL"/> where s.company_sku_code = #{companySkuCode}
    </select>

    <select id="getPlatformSkuByCompanyId" resultMap="platformSku">
        <include refid="basicSQL"/> where s.company_id = #{companyId}
    </select>

    <select id="getPlatformSkuByCompanyIdAndSpuCode"
            parameterType="hashmap" resultMap="platformSku">
        <include refid="basicSQL"/> where s.company_id = #{companyId} and s.spu_code = #{spuCode}
    </select>

    <select id="getPlatformSkuByCompanyIdAndCompanySkuCode"
            parameterType="hashmap" resultMap="platformSku">
        <include refid="basicSQL"/> where s.company_id = #{companyId} and s.company_sku_code = #{companySkuCode}
        order by id
    </select>

    <select id="getAllPlatformSkuCount" resultType="Integer">
      select count(*) from t_platform_sku
   </select>


    <select id="getPlatformSkuList" parameterType="hashmap" resultMap="platformSku">
        <include refid="basicSQL"/> order by s.id asc limit #{beginPage},#{pageSize}
    </select>


    <insert id="insertPlatformSku">
        insert into t_platform_sku(id,sku_code,spu_code,company_id,company_sku_code,company_name,batch_nos,
        deadline_nos,common_price,valid_month_start,valid_month_end,stocks,status,create_user,
        create_time,update_user,update_time)
        values (
        #{id},#{skuCode},#{spuCode},#{companyId},#{companySkuCode},#{companyName},#{batchNos},#{deadlineNos},
        #{commonPrice},#{validMonthStart},#{validMonthEnd},#{stocks},#{status},#{createUser},
        #{createTime},#{updateUser},now()
        )
    </insert>

    <update id="updatePlatformSku">
        update t_platform_sku
        set
        <if test="batchNos != null and batchNos != '' ">
            batch_nos = #{batchNos},
        </if>

        <if test="deadlineNos != null and deadlineNos != '' ">
            deadline_nos = #{deadlineNos},
        </if>

        <if test="commonPrice != null and commonPrice != '' ">
            common_price = #{commonPrice},
        </if>

        <if test="validMonthStart != null and validMonthStart != '' ">
            valid_month_start = #{validMonthStart},
        </if>

        <if test="validMonthEnd != null and validMonthEnd != '' ">
          valid_month_end = #{validMonthEnd},
        </if>
        <if test="stocks != null and stocks != '' ">
          stocks = #{stocks},
        </if>
        <if test="status != null ">
          status = #{status},
        </if>
        <if test="updateUser != null and updateUser != '' ">
            update_user = #{updateUser},
        </if>
        update_time = now()
        where sku_code = #{skuCode}
    </update>

    <update id="updatePlatformSkuById">
        update t_platform_sku
        set
         <if test="skuCode != null and skuCode != '' ">
            sku_code = #{skuCode},
        </if>
        
         <if test="spuCode != null and spuCode != '' ">
            spu_code = #{spuCode},
        </if>
        
         <if test="companySkuCode != null and companySkuCode != '' ">
            company_sku_code = #{companySkuCode},
        </if>
        
        <if test="batchNos != null and batchNos != '' ">
            batch_nos = #{batchNos},
        </if>

        <if test="deadlineNos != null and deadlineNos != '' ">
            deadline_nos = #{deadlineNos},
        </if>

        <if test="commonPrice != null and commonPrice != '' ">
            common_price = #{commonPrice},
        </if>

        <if test="validMonthStart != null and validMonthStart != '' ">
            valid_month_start = #{validMonthStart},
        </if>

        <if test="validMonthEnd != null and validMonthEnd != '' ">
          valid_month_end = #{validMonthEnd},
        </if>
        <if test="stocks != null and stocks != '' ">
          stocks = #{stocks},
        </if>
        <if test="status != null ">
          status = #{status},
        </if>
        <if test="updateUser != null and updateUser != '' ">
            update_user = #{updateUser},
        </if>
        update_time = now()
        where id = #{id}
    </update>
    <!--物理删除-->
    <delete id="deletePlatformSku">
        delete from t_platform_sku
        where sku_id = #{skuCode}
    </delete>

</mapper>